.debug-text {
    font-size: 24px;
    font-weight:bold;
    color:#000000;
    background-color:green;
}

#lookingGlass {
    color : yellow;
}

#lookingGlass:hover {
    color : #EFEF55;
}

#titleBox {
    padding : 0 1em;
}

#titleBox .cmdButton {
    font-weight : bold;
    color : yellow;
}
#titleBox .cmdButton:hover {
    color : #EFEF55;
}
